.event-slider-container {
  width: 100%;
  height: 450px;
  margin-top: 5rem;
}

.slider-container-name {
  padding-top: 2rem;
  padding-left: 2rem;
  color: var(--fourthly-text-color);
  font-size: var(--h2-font-size);
}

.event-slider-container .swiper {
  width: 100%;
  height: 100%;
}

.event-slider-container .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-pagination-bullet-active  {
  background-color: var(--button-background-color) !important;
}

.swiper-pagination {
  margin: -1rem !important;
}

.swiper-pagination-bullet {
  width: 1rem !important;
  height: 1rem !important;
}
/* .slider-container  .swiper-button-prev,
.slider-container  .swiper-button-next {
  border: none;
  color: black;
  padding: -20px;
} */
