.main_event_container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
/* .event-card {
  border: 2px solid gray;
  box-sizing: border-box;
  padding: 2px;
  font-size: 1.5rem;
  width: 25rem;
  height: 80%;
}
.event-picture img {
  width: 100%;
  height: auto;
} */
