.slider-message-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.slider-message {
  position: absolute;
  bottom: 0;
  left: 0;
  min-height: 35rem;
  min-width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 4rem;
  transform: translate(8rem, -2rem);
}

.slider-message a {
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--secondary-navbar-text-color);
  background-color: var(--navbar-hover-color);
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.6rem;
  transition: all 0.1s ease-in;
}

.slider-message a:hover {
  background-color: var(--primary-navbar-text-color);
}

.slider-message-text {
  font-size: 5rem;
  font-weight: 600;
  text-align: left;
  margin-bottom: 1rem;
  color: var(--secondary-text-color);
}

@media only screen and (max-width: 992px) {
  .slider-message {
    position: absolute;
    bottom: 0;
    left: 0;
    min-height: 35rem;
    min-width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: auto;
    align-items: flex-start;
    padding-bottom: 4rem;
    transform: translate(2rem, -2rem);
  }

  .slider-message-text {
    font-size: 3.5rem;
    font-weight: 500;
    text-align: left;
    margin-bottom: 1rem;
    color: var(--secondary-text-color);
  }
}

@media only screen and (max-width: 375px) {
  .slider-message-text {
    font-size: 3rem;
    font-weight: 400;
    text-align: left;
    margin-bottom: 1rem;
    color: var(--secondary-text-color);
  }
}
