.header-container {
  width: 100%;
  min-width: 36rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  background-color: var(--primary-background-color);
  position: fixed;
  z-index: 999;
  transition: all 0.3s ease-out;
}

.header-small {
  background-color: rgba(243, 244, 245, 0.8);
  backdrop-filter: blur(10px);
  height: 5rem;
  box-shadow: var(--primary-box-shadow);
  transition: all 0.3s ease-out;
}

.header-inner-container {
  min-width: 36rem;
  /*max-width: 108rem;*/
  width: 80%;
  max-width: 140rem;
  display: flex;
  justify-content: space-between;
}

.header-container .header-logo {
  display: flex;
  align-items: center;
}

.header-logo-navlink {
  text-decoration: none;
  font-size: 3.5rem;
  font-family: 'Kanit', sans-serif;
  font-weight: bold;
  background: linear-gradient(
    90deg,
    rgb(7, 67, 159) 23%,
    rgb(5, 55, 129) 54%,
    rgb(3, 29, 68) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-out;
}

.header-logo-navlink-small {
  font-size: 3rem;
}

.img-small {
  width: 12rem;
}

.header-navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Navbar */
.main-navbar ul {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.header-navbar li {
  list-style: none;
}

.header-navbar li a {
  padding: 1rem;
  border-radius: 1rem;
  color: var(--primary-navbar-text-color);
  font-size: 1.6rem;
  transition: all 0.1s ease-in;
  text-decoration: none;
  font-weight: 500;
}

.header-navbar li a:hover {
  background-color: var(--navbar-hover-color);
  color: var(--secondary-navbar-text-color);
}

/* Dropdown */
.main-navbar-dropdown {
  position: relative;
}

#main-navbar-dropdown-link {
  color: var(--secondary-navbar-text-color);
  background-color: var(--navbar-hover-color);
}

#main-navbar-dropdown-link:hover {
  background-color: var(--primary-navbar-text-color);
}

.main-navbar-dropdown-content {
  display: flex;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s, opacity 0.2s ease-in-out;
  position: absolute;
  transform: translateY(1rem);
  background-color: none;
  width: 20rem;
  z-index: 999;
}

.main-navbar-dropdown:hover .main-navbar-dropdown-content {
  visibility: visible;
  opacity: 1;
}

.main-navbar-inner-dropdown-content {
  width: 100%;
  margin-top: 1rem;
  border-radius: var(--card-border-radius);
  background-color: var(--primary-background-color);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 2rem 0rem;
  height: fit-content;
  text-align: center;
}

.main-navbar-dropdown-content ul {
  display: flex;
  flex-direction: column;
}

.navbar-icon-bars,
.navbar-icon-xmark {
  display: none;
  width: 3rem;
  height: 3rem;
  color: rgb(5, 55, 129);
}

.navbar-inner-menu {
  display: none;
}

@media only screen and (max-width: 992px) {
  .header-small,
  .header-logo-navlink-small {
    display: none;
    transition: all 0.3s ease-out;
  }

  .main-navbar {
    display: none;
    width: 0%;
  }

  .navbar-icon-bars,
  .navbar-icon-xmark {
    display: inline-block;
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    z-index: 1003;
    transition: 0.3s ease-in-out;
  }

  .navbar-icon-small {
    width: 2.4rem;
    height: 2.4rem;
    top: 1.5rem;
    right: 1.5rem;
    color: rgb(5, 55, 129);
    transition: 0.3s ease-in-out;
  }

  /* Modal */

  .display-navbar-modal-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    z-index: 999;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 0.5s;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .display-navbar-modal-content,
  .navbar-inner-menu {
    z-index: 1000;
    border-radius: 1rem;
    background: linear-gradient(
      to bottom,
      rgba(242, 244, 245, 1) 20%,
      rgba(242, 244, 245, 0.8) 40%,
      rgba(242, 244, 245, 0.5) 60%,
      rgba(242, 244, 245, 0.8) 80%,
      rgba(242, 244, 245, 1) 100%
    );
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    font-size: 2.4rem;
  }

  .display-navbar-modal-content button {
    border: none;
    font-size: 1.6rem;
    padding: var(--button-padding);
    border-radius: var(--button-border-radius);
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    cursor: pointer;
    transition: all 0.3s ease-out;
  }

  .display-navbar-modal-content button:hover {
    background-color: var(--button-hover-background-color);
  }

  .display-navbar-modal-content button:nth-child(1) {
    margin-right: 2rem;
  }
}
