.chosen-events-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 5rem;
}

.chosen-events-title {
  text-align: center;
  margin-bottom: 2rem;
  font-size: var(--h1-font-size);
}

.chosen-events-sidebar {
  width: 30%;
}

.chosen-events-content {
  width: 70%;
}

.joined-event-pic {
  margin-top: 10rem;
  width: 100%;
}

.chosen-events-message-container {
  width: 100%;
  text-align: center;
}

.chosen-events-message {
  font-size: var(--h3-font-size);
  padding-top: 1rem;
  margin-top: 2rem;
  border-top: 1px solid var(--form-input-border-secondary-color);
}

@media only screen and (max-width: 1200px) {
  .chosen-events-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 5rem;
  }

  .event-data-organizer-search,
  .event-data-attendees-search {
    display: none;
  }
  .chosen-events-content {
    width: 100%;
  }

  .chosen-events-sidebar {
    width: 0%;
  }
}
