/*containers*/
.create-new-event-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  /* height: 100%; */
  min-height: 100vh;
}
.create-new-event-container .new-event-form {
  margin-top: 2rem;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-new-event-container .new-event-form .basic-info-box,
.time-of-event,
.location-container, .new-event-info-container, .new-event-payment-container {
  margin-bottom: 6rem;
  padding: 0 1rem;
  max-width: 50vw;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}
.event-time-box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
  margin: 0 2rem 0 3rem;
  justify-content: space-evenly;
  
}
.event-time-box div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75%;

}

.location-container .location-type {
  margin-bottom: 3rem;
}
.create-new-event-container .new-event-form .time-of-event label {
  display: inline-block;
}
/* .create-new-event-container .new-event-form .time-of-event input{
  
} */
.create-new-event-container .new-event-form .time-of-event {
  background-color: var(--secondary-background-color);
  padding: 3rem 1rem;
  box-shadow: var(--primary-box-shadow);
  border-radius: var(--card-border-radius);
}

/*Text*/

.create-new-event-container h1 {
  font-size: var(--h1-font-size);
  margin-bottom: 1rem;
}
.create-new-event-container .new-event-form h2 {
  font-size: var(--h2-font-size);
  margin-left: 1rem;
  margin-bottom: 1.5rem;
  text-decoration: underline var(--tertiary-background-color) 2px;
  letter-spacing: 0.2rem;
}
.create-new-event-container .new-event-form h3 {
  font-size: var(--h3-font-size);
  margin-bottom: 1rem;
  margin-left: 1rem;

}
.create-new-event-container .new-event-form label {
  font-size: var(--form-label-font-size);
  display: block;
  margin: 1rem 1rem 0 2rem;
}
.create-new-event-container .new-event-form p {
  margin: 1.5rem;
  font-size: var(--p-font-size);
}
.required {
  color: var(--fourthly-text-color);
}
.missing-data{
  color: var(--fourthly-text-color)
}
/*inputs, buttons, select, textarea..*/
.create-new-event-container .new-event-form input,
.new-event-form select,
.new-event-form textarea {
  margin: 1rem 1rem 0 2rem;
  font-size: var(--form-label-font-size);
  padding: var(--form-input-padding);
  border-radius: var(--form-input-border-radius);
  border: 1px solid var(--form-input-border-color);
}
.create-new-event-container .new-event-form input:hover,
.new-event-form select:hover,
.new-event-form textarea:hover {
  border: 1px solid var(--form-hover-input-border-color);
}
.create-new-event-container .new-event-form button {
  margin: 2rem 1rem;
}
.create-new-event-container .new-event-form .btn-container {
 /*  height: 5rem; */
  margin: 1rem 0;
  width: 50vw;
}
.create-new-event-container .new-event-form .basic-event-info .back-btn,
.next-btn,
.save-btn {
  display: inline;
  margin: 0 1rem;
  float: right;
}
.create-new-event-container .new-event-form .basic-event-info .save-btn::after,
.next-btn::after,
.back-btn::after {
  content: '';
  clear: both;
  display: table;
}
.create-new-event-container .new-event-form button {
  padding: var(--button-padding);
  border-radius: var(--button-border-radius);
  color: var(--button-text-color);
  background-color: var(--button-background-color);
  border: none;
  font-weight: 500;
  transition: all 0.5s;
}
.create-new-event-container
  .new-event-form
  .new-event-payment-container
  .payment-type-btn-box
  label {
  display: inline;
  margin: 2rem 1rem;
}
.create-new-event-container .new-event-form .new-event-details textarea {
  width: 50vw;
  min-height: 30rem;
  margin: 1rem 2rem 1rem 2rem;
  padding: 2px;
  box-shadow: var(--primary-box-shadow);
  resize: none;
}
.create-new-event-container
  .new-event-form
  .basic-event-info
  .location-container
  .location-type
  label {
  display: inline;
}
/*Map*/
.map-box {
  width: 100%;
  background-color: var(--secondary-background-color);
  padding: 2rem 0;
  box-shadow: var(--primary-box-shadow);
  border-radius: var(--card-border-radius);
}
.hidden{
  /* visibility: hidden; */
  display: none;
}
.visible{
  /* visibility: visible; */
  display: block;
}
/*hover, focus*/
.create-new-event-container .new-event-form button:hover {
  background-color: var(--button-hover-background-color);
  /* transform: scale(1.2); */
  box-shadow: var(--hover-box-shadow);
}

/*details*/
.new-event-info-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 69rem;
}
.create-new-event-container
  .new-event-form
  .new-event-details
  .add-image-event-container
  .pic-box {
  width: 50vw;
  min-height: 20rem;
  text-align: center;
  box-shadow: var(--primary-box-shadow);
  border-radius: var(--card-border-radius);
  margin: 1rem 2rem 4rem 2rem;
  padding: 5rem;
  background-color: var(--secondary-background-color);
}
.pic-box p{
  color: var(--fourthly-text-color)
}
/* .add-image-event-container img {
  width: 30rem;
  height: auto;
} */

/*payment*/
.ticket-details-flex{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.new-event-payment-container{
  width: 50vw;
}
.create-new-event-container .new-event-form .new-event-payment-container {
  min-height: 69rem;
  min-width: 38rem;
  /* display: flex;
  align-items: center;
  flex-direction: column; */
}
.create-new-event-container
  .new-event-form
  .new-event-payment-container
  .payment-type-btn-box {
  margin-left: 3rem;
  margin-bottom: 4rem;
}
.ticket-details{
  background-color: var(--secondary-background-color);
  border-radius: var(--card-border-radius);
  box-shadow: var(--primary-box-shadow);
  padding: 3rem 1rem;
  width: fit-content;

}
.ticket-pricing-information,
.ticket-validation {
  margin-bottom: 4rem;
}
.create-new-event-container .new-event-form .new-event-payment-container .ticket-details {
  margin: 1rem;
  min-height: 28rem;
}
/* .btn-container{
  position: absolute;
  
} */