.FAQ-main-container {
    display: flex;
    flex-direction: row;
}

.FAQ-title {
    text-align: center;
}

.FAQ-main-container h1 {
    font-size: var(--h1-font-size);
    padding-bottom: 2rem
}

.FAQ-about {
    font-size: var(--p-font-size);
    padding-right: 2rem
}

.FAQ-question {
    margin-bottom: 1rem;
    font-weight: 900;
}

.FAQ-answer {
    margin-bottom: 3rem
}

.FAQ-summary {
    margin-bottom: 4rem
}

.FAQ-image-container {
    width: 38%;
}

.FAQ-container {
    width: 60%
}

.FAQ-image {
    width: 125%;
    height: auto;
}