.privacy-main-container h1 {
    font-size: var(--h1-font-size);
    padding-bottom: 2rem
}

.privacy-main-container h2 {
    font-size: var(--h2-font-size);
    padding-bottom: 2rem
}

.privacy-main-container p, .privacy-main-container ul {
    font-size: var(--p-font-size);
    padding-bottom: 2rem
}

.privacy-main-container ul {
    position: relative;
    left: 3rem 
}

.privacy-body {
    padding-bottom: 5rem
}

.privacy-title {
    text-align: center;
}

.privacy-main-container {
    display: flex;
    flex-direction: row;
}

.privacy-container {
    width: 60%
}

.privacy-image-container {
    padding-bottom: 5rem;
    padding-top: 3rem;
    margin-left: 3rem;
    width: 38%;
}

.privacy-image {
    width: 1fr;
    height: auto;
    position: fixed
}